<%- include('partials/header') -%>
<section class="burger-menu-logo">
    <i class="fa-solid fa-bars papaya"></i>
    <h1 class="site-logo papaya">HayaFooty</h1>
</section>

<aside class="sideBar ">
    <section class=" top-side-bar">
        <h1 class="site-logo" style="margin-top: 10px ;">HayaFooty</h1>

        <i class="fa-solid fa-xmark"></i>
    </section>
    
   <nav class="nav-section">
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/allTeams"><li>All Teams</li></a>
        <a href="/groups"><li>Groups</li></a> 
        <!-- <a href=""><li>Stats</li></a>  -->
      </ul>
   </nav>
    
</aside>



<h1 class="section-title">All Teams</h1>


<main class="teams-cards">
    <% for(let i = 0 ; i < teamsCards.length ; i++) { %>

        <section class="team-card">

            <section class="crest-section">
                <img class="card-crest" src="<%= teamsCards[i].crest %>" alt="">

            </section>

            <section class="card-info">
                <h2 class="team-name"><%= teamsCards[i].name %></h2>
                 <a href="/teams/<%= teamsCards[i].id %>"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                
            </section>
        </section>


    <% } %>
       
</main>






<%- include('partials/footer') -%>

