<%- include('partials/header') -%>


<section class="burger-menu-logo papaya">
    <i class="fa-solid fa-bars"></i>
    <h1 class="site-logo">HayaFooty</h1>
</section>


<aside class="sideBar ">
    <section class=" top-side-bar">
        <h1 class="site-logo" style="margin-top: 10px ;">HayaFooty</h1>

        <i class="fa-solid fa-xmark"></i>
    </section>
    
   <nav class="nav-section">
    <ul>
        <a href="/allTeams"><li>All Teams</li></a>
       <a href="/groups"><li>Groups</li></a> 
       <a href=""><li>Stats</li></a> 
      </ul>
   </nav>
    
</aside>

<h1 class="section-title" style="margin-top : 50px">group stage</h1>

<section class="groups-section">
  
    <% for(let i = 0 ; i < tables.length ; i++){ %>

        <table class="group">
            <tr class="group-title">
                <th colspan="5" class="group-name"> <%= tables[i].group   %></th>
            </tr>
            <tr class="column-definer">
                <td>Team</td>
                <td>W</td>
                <td>L</td>
                <td>D</td>
                <td>Pts</td>


            </tr>
              

            

            <tr>
                <td class="crest-tla"><img class="team-crest" src="<%= tables[i].table[0].team.crest %>" alt=""><%= tables[i].table[0].team.tla %></td>
                <td><%= tables[i].table[0].won %></td>
                <td><%= tables[i].table[0].lost %></td>
                <td><%= tables[i].table[0].draw %></td>
                <td><%= tables[i].table[0].points %></td>
            </tr>

            <tr>
                <td class="crest-tla"><img class="team-crest" src="<%= tables[i].table[1].team.crest %>" alt=""><%= tables[i].table[1].team.tla %></td>
                <td><%= tables[i].table[1].won %></td>
                <td><%= tables[i].table[1].lost %></td>
                <td><%= tables[i].table[1].draw %></td>
                <td><%= tables[i].table[1].points %></td>
            </tr>
            <tr>
                <td class="crest-tla"><img class="team-crest" src="<%= tables[i].table[2].team.crest %>" alt=""><%= tables[i].table[2].team.tla %></td>
                <td><%= tables[i].table[2].won %></td>
                <td><%= tables[i].table[2].lost %></td>
                <td><%= tables[i].table[2].draw %></td>
                <td><%= tables[i].table[2].points %></td>
            </tr>
            <tr>
                <td class="crest-tla"><img class="team-crest" src="<%= tables[i].table[3].team.crest %>" alt=""><%= tables[i].table[3].team.tla %></td>
                <td><%= tables[i].table[3].won %></td>
                <td><%= tables[i].table[3].lost %></td>
                <td><%= tables[i].table[3].draw %></td>
                <td><%= tables[i].table[3].points %></td>
            </tr>

                       
           

       
            
           
    
    
        </table>
    
    
    
    <% }  %>

</section>






<%- include('partials/footer') -%>