<%- include('partials/header') -%>


<!-- Header Logo -->
<section id="header-logo">
    <img id="logo-img" src="/images/logo.png" alt="">
 </section>




 <section class="laeb-div">

     <img  class="laeb" src="/images/fifa_world_cup_2022-mascotlaeeblogo-freelogovectors.net_-400x252.png" alt="">

 </section>
<!-- Header -->
<header id="header" class="bg-secondary">
 
 <!-- <section id="hayafooty">
     <h1>
         HayaFooty
     </h1>

</section> -->
 
 <section id="header-background">

         <!-- Qataer 2022 text -->
         <section class="qatar-text-div">
             <img class="qatar-word" src="/images/qatar-word.png" alt="">
         </section>
 

 </section>
    

 
</header>




<!-- marquee section -->

<section class="marquee-section">
    <h1 class="section-title">Participants</h1>'
    
    <section class="marquee-container">
        <marquee loop="infinite" class="teamsMarquee" behavior="" direction="right" scrollamount="10">

            <section class="teams-logos">
    
                <% for(let i=0; i < teams.teams.length; i++) {%>
                
    
                        <img class="scrolling-crest" src="<%= teams.teams[i].crest %>" alt=""> 
        
        
                  
                    
          
              <% } %> 
    
            </section>
           
         </marquee>
    </section>
    
</section>

<!-- //marquee section // -->



<section class="current-stage">

    <h1 class="section-title">Current Stage</h1>
    <h2>Matchday <%= teams.season.currentMatchday   %></h2>

</section>



<section class="next-fixures-section">
    <h1 class="section-title purpleborder bg-primary">Next Fixures</h1>     
    <section class="next-fixures-inner">


        <% for(let i=0; i < matches.length; i++) {%>
                
              <section class="match-fixure">
                   <section class="team1">
                    <h3><%= matches[i].homeTeam.tla %>  </h3>
                    <img class="fixure-crest" src="<%= matches[i].homeTeam.crest %>" alt="">
                   </section>
                               
                   <section class="score">
                 <%   if (matches[i].status === 'IN_PLAY') { %>
                               
                       <h3 class="live-sign">Live</h3>
    
                     <% } %>
                    <% if(matches[i].score.duration === 'PENALTY_SHOOTOUT'){ %>
                        
                    <h3>
                        <%= matches[i].score.extraTime.home  + matches[i].score.regularTime.home  %> <br>
                        (<%= matches[i].score.penalties.home %>) 
                   </h3>
                   <h3 class="vs">
                      VS
                   </h3>
                   <h3>
                    <%= matches[i].score.extraTime.away + matches[i].score.regularTime.away %> <br>
                   (<%= matches[i].score.penalties.away %>)

                </h3>
                         
                   <% }else {%>
                  <% if (matches[i].status === 'IN_PLAY') { %>
                               
                    <h3>
                        <%= matches[i].score.fullTime.home  %>
                   </h3>
                   <h3 class="vs">
                      VS
                   </h3>
                   <h3>
                    <%= matches[i].score.fullTime.away  %>
                </h3>

                 <% } else if(matches[i].status   === "FINISHED"){ %>


                    <h3>
                        <%= matches[i].score.fullTime.home  %>
                   </h3>
                   <h3 class="vs">
                      VS
                   </h3>
                   <h3>
                    <%= matches[i].score.fullTime.away  %>
                </h3>
                                
                   <% } else{ %>

                    <h3>
                         -
                     </h3>
                   <h3 class="vs">
                      VS
                   </h3>
                   <h3>
                    -
                </h3>


                 <%  }  %>

            <%} %>
                         
                   </section>

                   <section class="team2">
                    <h3><%= matches[i].awayTeam.tla %>  </h3>
                    <img class="fixure-crest" src="<%= matches[i].awayTeam.crest %>" alt="">
                   </section>
                
              </section>

      
        

  <% } %> 


    </section>   
</section>

    

<%- include('partials/footer') -%>